// Layout.module.scss

.layoutContainer {
  display: flex; // Ensures sidebar and content are in the same row
  width: 100%;
  min-height: 100vh;
}

.sidebarContainer {
  transition: width 0.3s ease-in-out;
  background-color: #3f05df;
  min-height: 100vh;
}

.mainContent {
  //background-color: rgb(255, 255, 1);
  flex-grow: 1;
  height: 100vh;
  // width: 100%;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}
